# Build
bin/
obj/

# Visual Studio
.vs/

# NuGet
*.nupkg

# Rider
.idea/

# VS Code
.vscode/

# User-specific files
*.user
*.suo

# Logs
*.log

# SQLite
*.db
*.db-shm
*.db-wal

# User Secrets
secrets.json

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS
.DS_Store
Thumbs.db
.env
.env.*
